* {
    font-family: "Times New Roman";
}

h1 {
    text-align: center;
    text-transform: capitalize;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    border: 3px dashed black;
}

p {
    color: blue;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}

div {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px dashed brown;
    border-radius: 5px;
    text-align: right;
} 

